# python 基本操作
* 官方教程 https://docs.python.org/3/tutorial/
* 廖雪峰  https://www.liaoxuefeng.com/
* 莫烦 https://morvanzhou.github.io

In [1]:
print('hello world')

hello world

In [4]:
print("dgad")

dgad

In [4]:
x= input('x:')

x:333

In [5]:
print(x)

333

In [6]:
print(int(x)+5)

15

In [6]:
type(x)

str

In [8]:
isinstance(x,int)

False

## 条件判断

In [10]:
age =30
if age>=18:
    print('adult')
elif age>=6:
    print('teenager')
else:
    print('kid')

adult

## 循环

* for

In [11]:
names = ['Michael', 'Bob', 'Tracy'] 
for name in names:
    print(name)

Michael
Bob
Tracy

In [17]:
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum = sum + x
print(sum)

55

In [18]:
list(range(5))

[0, 1, 2, 3, 4]

* while循环 只要条件满足，就不断循环，条件不满足时退出循环 
* break语句可以在循环过程中直接退出循环，而continue语句可以提前结束本轮循环，并直接开始下一轮循环。

In [12]:
n = 1
while n <= 100:
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
END

In [20]:
n = 1
while n <= 100:
    if n>10:
        break
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
END

In [1]:
n=0
while n<10:
    n=n+1
    print(n)

1
2
3
4
5
6
7
8
9
10

In [1]:
n=0
while n<10:
    n=n+1
    if n%2 == 0:
        continue
    print(n)

1
3
5
7
9

## 列表[] list 增删改查

In [14]:
classmates = ['Peak' ,'Mickey','Gordon','Jefrey','Sasary']

In [15]:
print(classmates)

['Peak', 'Mickey', 'Gordon', 'Jefrey', 'Sasary']

In [16]:
len(classmates)

5

In [17]:
classmates[1]

'Mickey'

In [18]:
classmates[3]

'Jefrey'

In [19]:
classmates[-1]

'Sasary'

In [20]:
classmates[-2]

'Jefrey'

In [21]:
classmates.append('Linda')

In [22]:
print(classmates)

['Peak', 'Mickey', 'Gordon', 'Jefrey', 'Sasary', 'Linda']

In [23]:
classmates.insert(3,'LIli')

In [24]:
print(classmates)

['Peak', 'Mickey', 'Gordon', 'LIli', 'Jefrey', 'Sasary', 'Linda']

In [25]:
classmates.pop()

'Linda'

In [26]:
print(classmates)

['Peak', 'Mickey', 'Gordon', 'LIli', 'Jefrey', 'Sasary']

In [27]:
classmates.pop(3)

'LIli'

In [28]:
print(classmates)

['Peak', 'Mickey', 'Gordon', 'Jefrey', 'Sasary']

In [29]:
classmates[1]='peakpuuueak'

In [30]:
print(classmates)

['Peak', 'peakpuuueak', 'Gordon', 'Jefrey', 'Sasary']

* 切片

In [31]:
classmates

['Peak', 'peakpuuueak', 'Gordon', 'Jefrey', 'Sasary']

In [33]:
classmates[0:3]

['Peak', 'peakpuuueak', 'Gordon']

### list里边的数据类型可以不同

In [34]:
L=['apple',123,True]

In [35]:
print(L)

['apple', 123, True]

In [40]:
s=['python','java',['asp','php'],'scheme']

In [41]:
len(s)

4

In [42]:
s[2]

['asp', 'php']

In [43]:
s[2][1]

'php'

## 元组()不可修改 tuple

In [44]:
t=(1,2,3,4,5)

In [45]:
t

(1, 2, 3, 4, 5)

In [46]:
t[1]

2

* 可变的tuple

In [47]:
t= ('a','b',['A','B'])

In [48]:
t[2][1]='VVV'

In [49]:
t

('a', 'b', ['A', 'VVV'])

## dict{} 和 set

### Python内置了字典：dict的支持，dict全称dictionary，在其他语言中也称为map，使用键-值（key-value）存储，具有极快的查找速度。

In [50]:
names = ['Michael', 'Bob', 'Tracy']

In [51]:
scores=[95,89,99]

In [52]:
d={'Michael':95,'Bob':75,'Tracy':85}

In [53]:
d['Michael']

95

In [54]:
d['Jack']=60

In [55]:
d['Jack']

60

In [62]:
print(d)

{'Michael': 95, 'Bob': 75, 'Tracy': 85, 'Jack': 60}

In [66]:
d.get('Bob')

75

In [71]:
d.get('Tracy')

85

In [72]:
print(d)

{'Michael': 95, 'Bob': 75, 'Tracy': 85, 'Jack': 60}

In [73]:
d.get('Bob')

75

In [74]:
d.pop('Jack')

60

In [61]:
d

{'Michael': 95, 'Bob': 75, 'Tracy': 85, 'Jack': 60}

### set和dict类似，也是一组key的集合，但不存储value。由于key不能重复，所以，在set中，没有重复的key。

In [75]:
s=set([1,2,3])

In [76]:
s

{1, 2, 3}

* 传入的参数[1, 2, 3]是一个list，而显示的{1, 2, 3}只是告诉你这个set内部有1，2，3这3个元素，显示的顺序也不表示set是有序的。

In [77]:
s =set([1,1,2,2,3,3])

In [78]:
s

{1, 2, 3}

In [64]:
s.add(4)

In [65]:
s

{1, 2, 3, 4}

In [66]:
s.remove(4)

In [67]:
s

{1, 2, 3}

* set可以看成数学意义上的无序和无重复元素的集合，因此，两个set可以做数学意义上的交集、并集等操作：

In [68]:
 s1 = set([1, 2, 3])
 s2 = set([2, 3, 4])

In [69]:
 s1 & s2

{2, 3}

In [70]:
 s1 | s2

{1, 2, 3, 4}

* 对于可变对象，比如list，对list进行操作，list内部的内容是会变化的，比如：

In [71]:
a =['c','b','a']

In [74]:
a.sort()

In [75]:
a

['a', 'b', 'c']

In [76]:
a='abc'

In [77]:
a.replace('a','A')

'Abc'

In [78]:
a

'abc'

In [79]:
b=a.replace('a','A')

In [80]:
b

'Abc'

## 函数

In [79]:
def my_abs(x):
    if x>=0:
        return x
    else:
        return -x

In [80]:
print(my_abs(-100))

100

### 基本函数

In [82]:
abs(-1000)

1000

In [83]:
import cmath
cmath.sqrt(100)

(10+0j)

In [84]:
import math
math.sqrt(100)

10.0

In [89]:
float(10)

10.0

In [94]:
#help() 查看帮助

In [97]:
math.ceil(104.4)

105

In [98]:
math.floor(104.4)

104

In [103]:
round(104.4)

104

In [101]:
pow(2,4)

16

In [102]:
2**4

16

In [107]:
a=str(104)

In [108]:
type(a)

str

### 递归函数

In [132]:
def fact(n):
    if n==1:
        return 1
    return n * fact(n - 1)

In [134]:
fact(5)

120

## 导入模块 包

In [85]:
import math

In [86]:
rr=input('半径为：')

半径为：10

In [87]:
r=float(rr)

In [88]:
area=math.pi*r*r

In [89]:
print("面积为",area)

面积为 314.1592653589793

In [90]:
import numpy as np

In [91]:
a=np.array((1,2,3,4,5))

In [92]:
print(a)

[1 2 3 4 5]

In [93]:
print(a[2])

3

In [95]:
?abs()

# 课堂小作业

## 输入3个正数，判定它们作为三条边的边长能否组成一个三角形，如果能，进一步判断三角形的形状（按等边、等腰、直角、一般的顺序），输出判断结果。

## 冒泡算法小练习 数组a_list = [12,9,8,7,6,5,4,3,2,1,101]从小到大排列

In [2]:
import math
a = float(input("a=:"))
b = float(input("b=:"))
c = float(input("c=:"))
if a+b>c and a+c>b and b+c>a:  #同时满足
  if a==b and b==c:
      print('等边三角形')
  elif a==b or b==c or c==a:
      print('等腰三角形')
  elif math.fabs(a*a+b*b-c*c)<1e-6 or math.fabs(a*a+c*c-b*b)<1e-6 or math.fabs(c*c+b*b-a*a)<1e-6:
      print('直角三角形')
  else:
      print('一般三角形')
else:
  print('不能构成三角形')

a=:10
b=:10
c=:10
等边三角形

In [3]:
?math.fabs()

In [4]:
1e-6

1e-06

In [5]:
0.000001

1e-06

In [6]:
a_list = [12,9,8,7,6,5,4,3,2,1,101]
for j in range(len(a_list) -1): #第二步，每次循环排好一个数，则需要len(a_list) -1 次，才能全部的排好 
    #第一步，初级算法不减j,每次循环都是从头到尾比较一遍，减去j，后面排好的则不用比较
    for i in range(len(a_list)-1 - j):
        if a_list[i] > a_list[i+1]: #最大数排到最后面去
            a_list[i],a_list[i+1] = a_list[i+1],a_list[i] #利用a,b = b,a 对调
print(a_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 101]